<launch>

  <node pkg="bica_planning" type="pddl_builder.py" name="pddl_builder"/>
  <include file="$(find bica_planning)/launch/planning_system.launch" >
    <arg name="data_path" value="$(find bica_planning)/common/" />
    <arg name="domain_path" value="/tmp/domain.pddl" />
  </include>



  <node pkg="bica_examples" type="approach_action_node" name="approach_action_node" output="screen">
    <param name="pddl_action_name" value="approach" />

  </node>
  <node pkg="bica_examples" type="talk_action_node" name="talk_action_node" output="screen">
    <param name="pddl_action_name" value="talk" />
  </node>
  <node pkg="bica_examples" type="move_action_node" name="move_action_node" output="screen">
    <param name="pddl_action_name" value="move" />
  </node>

  <node pkg="bica_examples" type="planning_example_node" name="planning_example_node" output="screen"/>

</launch>
